$main-font-size: 10px;
$main-color: #0283fe;
$text-font-size: max(1.6rem, 16px);
$big-title-font-size: max(2rem, 20px);
$title-font-size: max(1.8rem, 18px);
$desc-font-size: max(1.4rem, 14px);
$small-font-size: max(1.2rem, 12px);
$main-gap: 1rem;
$main-padding: 1rem;
$main-radius: 1rem;